#config cloudinary
CLOUDINARY_NAME=ENV['CLOUDINARY_NAME']
CLOUDINARY_API_KEY=ENV['CLOUDINARY_API_KEY']
CLOUDINARY_API_SECRET=ENV['CLOUDINARY_API_SECRET']

#config send mail
USER_NAME=ENV['USER_NAME']
PASSWORD=ENV['PASSWORD']
DOMAIN=ENV['DOMAIN']
#admin mailler
MAIL_ADMIN_SENDER=ENV['MAIL_ADMIN_SENDER']
#incorporation
NAME=ENV['NAME']

#url front-end
DEFAULT_URL=ENV['DEFAULT_URL']

#url back-end
ADMIN_PANEL_POST_URL=ENV['ADMIN_PANEL_POST_URL']

#api
ADMIN_PANEL_ACTIVITY_URL=ENV['ADMIN_PANEL_ACTIVITY_URL']

#url production
WEBSITE=ENV['WEBSITE']
